apiVersion: v1
kind: Secret
metadata:
  name: {{ cloudflare.secret_name }}
  namespace: {{ cert_manager.namespace }}
type: Opaque
stringData:
  {{ cloudflare.secret_key }}: {{ cloudflare_api_token }}
